table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    min-width: 800px;
    background-color: #fff;
}

thead tr {
    background-color: grey;
    color: #ffffff;
    text-align: left;
}

th,
td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

