@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px); /* 下から20pxの位置 */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* 元の位置 */
    }
}

.fade-in-up {
  animation: fadeInUp .5s ease-out; /* 1秒間のイージングアニメーション */
}
